<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timetable</title>
    <link rel="stylesheet" href="{%static 'css/time.css'%}">
</head>
<body>
<h1>TIME TABLE</h1>
<table><tr>
        <td>day/course</td>
        <td>django</td>
        <td>softwaretesting</td>
        <td>datascience</td>
    </tr>

    <tr><td>MONDAY</td></tr>
    <tr><td>TUESDAY</td><tr>
    <tr><td>WEDNESDAY</td></tr>
    <tr><td>THURSDAY</td></tr>
    <tr><td>FRIDAY</td></tr>


</table>
</body>
</html>