body{
background-color:yellow;
}
.tbl{
background-color:pink;
}
.crt{
margin-top:3%;
color:blue;
}
.box{
width:200px;
margin-right:40%;
}
#btt{
width:250px;
background-color:green;
color:white;
}
h1{
color:violet;
margin-top:3%;}